[submodule ".rake/test/bats"]
	path = .rake/test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule ".rake/test/test_helper/bats-support"]
	path = .rake/test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule ".rake/test/test_helper/bats-assert"]
	path = .rake/test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule ".rake/test/test_helper/bats-file"]
	path = .rake/test/test_helper/bats-file
	url = https://github.com/bats-core/bats-file
[submodule ".rake/scripts/lib/funcshional"]
	path = .rake/scripts/lib/funcshional
	url = https://github.com/m374-crypt0/funcshional.git
